# Ignore node_modules folder
/node_modules

/config

# Ignore .env file
.env

# Optional: Ignore build folders (for React if you don't want to upload the build files)
build/

# Optional: Ignore logs (if you're logging data)
*.log
